@font-face {
    font-family: 'Zelda';
    src: url(../siteHome/fonteHome/Triforce-y07d.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Zelda';
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-image: url(imagensFundo/fundoGuardian2.png);
}

/* @keyframes guardian {
    0% {
        margin-left: 15vh;
        border-image-repeat: none;
        background-size: cover;
    }
    
    100%{
        margin-left: 0vh;
        border-image-repeat: none;
        background-size: cover;
    }
} */

/* LOGIN */

.login {
    /* display: none; */
}

.title .color {
    backdrop-filter: blur(1px);
    margin: 7vh 0 0 5vw;
}

.title .color h1 {
    color: rgb(255, 215, 11);
    font-size: 40px;
}

.title .color h2 {
    color: rgb(255, 215, 11);
    font-size: 25px;
}

.login .container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: -10vh;
    width: 80%;
}

.login .container .formulario {
    margin: 0 40vw 0 25vw;
    margin-top: 10vh;
    border-radius: 5px;
    color: white;
    border: solid 1px black;
    /* background-color: black; */
    background-image: url(imagensFundo/fundoGuardian2.png);
    box-shadow: black 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.login .container .formulario .titulo {
    padding-bottom: 3vh;
    color: rgb(131, 40, 216);
}

.login .container .formulario .email {
    display: flex;
    align-items: center;
    padding: 0 1vw 0 0;
}

.login .container .formulario .senha {
    display: flex;
    align-items: center;
}

.login .container .formulario .image{
    width: 20%;
}

.login .container .formulario .campos{
    margin: 5vh 1vw 0 0;
}

/* Login */

/* REGISTRO */

.register {
    display: none;
    margin-left: 25vw;
}

.register .container {
    display: flex;
    margin-top: -10vh;
    justify-content: center;
}

.register .container .forms {
    /* margin: 0 40vw 10px 40vw; */
    margin-top: 15vh;
    border-radius: 5px;
    color: white;
    border: solid 1px black;
    background-image: url(imagensFundo/fundoGuardian2.png);
    box-shadow: black 10px 10px 10px 10px;
    justify-content: space-between;
    display: flex;
}

.register .container .forms .titulo h1 {
    color: rgb(131, 40, 216);
    border: rgb(51, 3, 49) 5px;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 5px;
}

.register .image {
    width: 10%;
}

.redirecionar {
    cursor: pointer;
}

.redirecionar p{
    color: purple;
    text-decoration: underline purple;
}

/* registro */